<main>
  <div class="inputArea">
     <textarea class="full" [(ngModel)]="inputField" placeholder="Paste your JSON here..."></textarea>
  </div>
  <div class="outputArea">
    <textarea class="full" [(ngModel)]="outputfield" disabled></textarea>
  </div>
</main>
<footer>
  <button (click)="formatjson()">Format</button>
</footer>