/* You can add global styles to this file, and also import other style files */

// reset
body {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

// main 
main {
    background-color: #f3f3f4;
    padding: 20px;
    height: calc(100vh - 120px);
    display: flex;
}

.inputArea, .outputArea {
    width: calc(50% - 10px);
    background-color: #fff;
}

.inputArea {
    margin-right: 20px;
}

.full {
    height: 100%;
    width: 100%;
    border: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

button {
    background-color: green;
    color: #fff;
    min-height: 36px;
    border:0;
    padding: 10px 24px;
    font-size: 1.1em;
    border-radius: 6px;
    cursor: pointer;
}